{% load static %}
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'style.css' %}">

<style type="text/css">
body {
  background: url('/static/543828.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.button{
    height: 65px;
    width: 65px;
    background-color: #bbb;
</style>
</head>
			{% include 'navbar.html' %}

<body>
    {% block content %}
    {% endblock %}


</body>
</html>