{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container pt-3">
    <div class="row pt-1">
        <div class="col-md-7 fluid">
            <div class="font1">
                 Status- Book 
            </div>
            </div>
        </div>
    </div>
    <div class="col-md-7 pl-5 pt-5"><div class="font2">
        Konfirmasi<br> Apakah anda yakin menerbitkan status ini?<br></div>

       <h5 style="color: #ff6443">Nama: </h5> {{ Stat.nama_user }}<br>
        <h5 style="color: #ff6443">Status: </h5> {{ Stat.status }}<br><br>
        <a href="{% url 'Landing' %}"><input type="submit" value="Ya" name="Yaz"></a>
        <a  href = "{% url 'hapus' pk=Stat.pk %}"><input type="submit" value="Tidak" style="color: red" name="nope"><i class="fa fa-trash"></i></a>
</div>

{% endblock %}
