{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container pt-3">
    <div class="row pt-1">
        <div class="col-md-7 fluid">
            <div class="font1">
                 Status- Book 
            </div>
            </div>
        </div>
    </div>
    <div class="container pt-3">
    <div class="row pt-1">
        <div class="col-md-6 pl-2 pt-5">
            <div class="table-responsive" id="Table">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Nama User</th>
                            <th scope="col">Status User</th>
                        
                        </tr>
                    </thead>
                    {% for i in Stat %}
                    <tbody>
                        <tr>
                            <td>{{ i.nama_user }}</td>
                            <td>{{ i.status }}</td>
                           
                        </tr>
                        
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-2"></div>
            <div class="col-md-4  pl-5">
                    <div class ="font1">
                    <h1>About Status-Book<br><br></div>
                         
                         <div class="font2">
                          A web that provides status sharing, just write a name and a status, you will be redirect to confirmation page that will confirm your status updates</div>
            </div>
    </div>
    </div>
    </div>

<div class="container pl-2 pt-5" >
    <div class="row pt-1">
    <div class="col-md-5">
<form id="form" method="POST">
    {% csrf_token %}
    {{ formulir }}
    <br>
    <input type="submit" value="Submit" name="submit">
</form> </div>

</div>

</div>
</div>

{% endblock %}
